.trending-bg-container {
  padding-top: 16px;
  display: flex;
}

.trending-right-container {
  width: 100%;
  margin-left: 14vw;
}

.trending-header-inner-container {
  display: flex;
  align-items: center;
}

.trending-fire-icon {
  fill: #ff0b37;
  height: 30px;
  width: 30px;
}

.trending-route-ul-container {
  list-style-type: none;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

.trending-failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.trending-failure-img {
  height: 400px;
  width: 400px;
}

.trending-failure-description {
  color: #475569;
  font-family: Roboto;
  margin-top: 16px;
  font-size: 16px;
  text-align: center;
}

.trending-retry-btn {
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 12px;
  height: 40px;
  width: 90px;
  margin-top: 16px;
  border: none;
  border-radius: 5px;
}

.trending-loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
